<footer class="footer">
    <p class="links">
        <a href="https://github.com/gregoryalary/summit-finder">
            <span class="icon"><i class="fab fa-github"></i></span> Github repository
        </a>
        <span class="separator">|</span>
        <a href="https://gregoryalary.github.io/development/2019/09/10/Find-the-highest-point-in-an-area.html">
            <span class="icon"><i class="fas fa-book"></i></span> Blog article
        </a>
    </p>
    <p class="love">
        Made with <i class="fas fa-heart"></i> in the <span class="pink">pink</span> city.
    </p>
</footer>
